<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="C:\Users\lisa\Downloads\SiKomLek\resources\css\app.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400&display=swap" />

</head>

<body>
    <section>
        <div class="home-page">
            <img class="home-page-child" alt=""
                src="C:\Users\lisa\Downloads\SiKomLek\resources\assets\images\Group_10.png">

            <img class="image-1-icon" alt="" src="C:\Users\lisa\Downloads\SiKomLek\resources\assets\images\image_1.png">

            <div class="title">
                <span class="title-txt">
                    <p class="sistem-informasi">Sistem Informasi</p>
                    <p class="sistem-informasi">Komunikasi dan Elektronika</p>
                </span>
            </div>
            <img class="home-page-item" alt=""
                src="C:\Users\lisa\Downloads\SiKomLek\resources\assets\images\Group 10.svg">

        </div>

    </section>
    <section>
    <div class="login-form">
        <div class="input-form">
            <input type="email" id="email" placeholder="Email" oninput="checkInputs()" />
        </div>

        <div class="input-form1">
            <input type="password" id="password" placeholder="Password" oninput="checkInputs()" />
        </div>
    </div>
    
    <div class="login">
        <a class="btn btn-primary" href="dashboard.html"  role="button">login</a>
        </div>
    </section>

    </section>

</body>

</html>