<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="C:\Users\lisa\Downloads\SiKomLek\komlek-sistem-informasi\resources\css\app.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="home-page">
    		<img class="home-page-child" alt="" src="Group 10.svg">
    		
    		<img class="image-1-icon" alt="" src="image 1.png">
    		
    		<div class="title">
      			<span class="title-txt">
        				<p class="sistem-informasi">Sistem Informasi</p>
        				<p class="sistem-informasi">Komunikasi dan Elektronika</p>
      			</span>
    		</div>
    		<img class="home-page-item" alt="" src="Group 10.svg">
    		
    		<div class="home-page-inner" id="rectangle">
    		</div>
    		<div class="login">Login</div>
            <a href="login.html" class="login-link">
                <div class="login">Login</div>
            </a>
            <div class="input-field">
                <div class="text">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                </div>
            </div>
            <div class="input-field1">
                <div class="text">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                </div>
            </div>
  	</div>
  	
  	
  	
  	
  	<script>
    		var rectangle = document.getElementById("rectangle");
    		if(rectangle) {
      			rectangle.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}</script></body>
</html>